<div id="<%= dom_id friend %>">
<table class="table">
  <thead>
    <tr>
 
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Phone</th>
      <th scope="col">Twitter</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= friend.first_name %></th>
      <td> <%= friend.last_name %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter %></td>
      <td>  <%= link_to "Show ", friend,class:"btn btn-primary" %></td>
      <td ></td>
    </tr>
    </tbody>
  </table>
  
</div>
